/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
	font-family: 'AvenirNextLTPro-Bold';
	src: url( '../fonts/AvenirNextLTPro-Bold.eot'); /* IE9 Compat Modes */
	src: url( '../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url( '../fonts/AvenirNextLTPro-Bold.woff') format('woff'), /* Modern Browsers */  url( '../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */  url( '../fonts/AvenirNextLTPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'AVENIRNEXTLTPRO-MEDIUMCN';
	src: url( '../fonts/AVENIRNEXTLTPRO-MEDIUMCN.eot'); /* IE9 Compat Modes */
	src: url( '../fonts/AVENIRNEXTLTPRO-MEDIUMCN.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url( '../fonts/AVENIRNEXTLTPRO-MEDIUMCN.woff') format('woff'), /* Modern Browsers */  url( '../fonts/AVENIRNEXTLTPRO-MEDIUMCN.ttf') format('truetype'), /* Safari, Android, iOS */  url( '../fonts/AVENIRNEXTLTPRO-MEDIUMCN.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: AVENIRNEXTLTPRO-MEDIUMCN, arial;
	font-size: 12px;
	color: #8c806e;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Global CSS */
a, input {
	outline: none;
}
a {
	color: #f00;
	text-decoration: none;
}
.clear {
	clear: both;
	height: 0;
}
img {
	width: 100%;
	height: auto;
}
.center {
	margin: 0 auto;
	max-width: 1280px;
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: AVENIRNEXTLTPRO-MEDIUMCN;
	font-size: 49px;
	color: #8c806e;
}
p {
	font-family: AVENIRNEXTLTPRO-MEDIUMCN;
	font-size: 49px;
	font-weight: bold;
	line-height: 45px;
	color: #ffffff;
}
/* wrapper box start */
.wrapper {
	width: 100%;
}
/* wrapper box end */

/* header start */
header {
	width: 100%;
	min-height: 79px;
	background: #001734;
	position: fixed;
	top: 0;
	top: 0;
	z-index: 1050;
}
header .logo {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -120px;
	width: 300px;
	float: left;
}
header .logo a {
	display: block;
	text-indent: -9999px;
	width: 240px;
	height: 120px;
	background: url(../images/logo.png) left top no-repeat;
}
/* header end */

/* nav start */
nav {
	padding-left: 35px;
	width: 350px;
	float: left;
}
nav ul {
	padding: 26px 0px;
	list-style: none;
}
nav ul li {
	padding-right: 21px;
	float: left;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
nav ul li a {
	color: #606e8e;
	text-decoration: none;
}
nav ul li a:hover {
	color: #ffffff;
}
/* nav end */

/* sociable start */
.sociableBox {
	padding: 25px 0px;
	float: right;
}
.sociableBox ul li {
	padding-left: 14px;
	line-height: 33px;
	float: left;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.sociableBox ul li a {
	color: #606e8e;
	text-decoration: none;
}
.sociableBox ul li a:hover {
	color: #ffffff;
}
.sociableBox ul li a.facebook {
	padding-top: 4px;
	display: block;
	text-indent: -9999px;
	width: 24px;
	height: 25px;
	background: url(../images/sociable-icon.png) left 4px no-repeat;
}
.sociableBox ul li.gap {
	padding-left: 9px;
}
.sociableBox ul li a.twitter {
	padding-top: 4px;
	display: block;
	text-indent: -9999px;
	width: 24px;
	height: 25px;
	background: url(../images/sociable-icon.png) right 4px no-repeat;
}
.sociableBox ul li input[type="text"] {
	padding: 5px 10px;
	float: left;
	line-height: 20px;
	width: 108px;
	border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border: none;
	background: #e6e6e6;
}
.sociableBox ul li input[type="submit"] {
	padding: 5px 9px;
	margin-left: -1px;
	line-height: 20px;
	border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border: none;
	font-family: 'AVENIRNEXTLTPRO-MEDIUMCN';
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	background: #f29691;
}
/* sociable end */

/* content container start */
.contentCntr {
	margin-top: 83px !important;
	background: url("../images/background.png") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
	background-size: cover;
}
/* content container end */

/* signup box start */
.signupBox {
	padding: 0px 0px 7% 7%;
	width: 57%;
	position:absolute;
	top:50%;
	margin-top:-200px;
	background: url(../images/blue-stip.png) right top no-repeat;
}
.signupBox h1 {
	margin: 90px 0px 11px 0px;
	width: 386px;
	height: 65px;
	display: block;
	text-indent: -9999px;
	background: url(../images/logo-heading.png) left top no-repeat;
}
.signupBox fieldset {
	padding-top: 13px;
	float: left;
	border: none;
}
.signupBox input[type="text"] {
	padding: 5px 10px;
	float: left;
	line-height: 34px;
	width: 170px;
	border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border: none;
	background: #e6e6e6;
}
.signupBox input[type="submit"] {
	padding: 5px 14px;
	margin-left: -1px;
	line-height: 34px;
	border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border: none;
	font-family: 'AVENIRNEXTLTPRO-MEDIUMCN';
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	background: #f29691;
}
.signupBox a.watchvideo {
	padding: 0px 61px 0px 18px;
	margin: 15px 0px 0px 11px;
	line-height: 44px;
	float: left;
	font-family: 'AVENIRNEXTLTPRO-MEDIUMCN';
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background: #00b1c9 url(../images/arrow.png) right center no-repeat;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
 @-moz-document url-prefix() {
 .sociableBox ul li input[type="submit"] {
 line-height: 18px;
float: left;
}
 .signupBox input[type="submit"] {
line-height: 32px;
}
 .signupBox a.watchvideo {
margin-top: 13px;
}
}
/* signup box end */


/* footer start */
footer {
	padding: 20px 0px;
	width: 100%;
	background: #CCC;
	overflow: hidden;
	background: #f7f7f7;
	position: fixed;
	z-index: 50;
	bottom: 0;
}
footer ul {
	float: left;
}
footer ul li {
	padding-left: 20px;
	font-size: 16px;
	float: left;
}
footer p {
	float: right;
	font-size: 16px;
	line-height: normal;
	color: #656565;
	font-weight: normal;
}
footer ul li a {
	color: #656565;
}
/* footer end */

.signupContainer1 .thankyou {
	color: #364566 !important;
	font-weight: bold;
	font-size: 32px;
}
.thankyou {
	color: #0fc4d9;
	font-weight: bold;
	font-size: 32px;
	float: left;
	margin-top: 10px;
}
#revertImage {
	display: none;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.content {
	background-color: rgba(0,0,0,0);
	overflow: auto;
	margin: 0;
	width: 100%;
	display: table;
	height:100%;
}
#bouncy {
	margin: 0 auto;
}
#bouncy a {
	background-image: url("../images/nav-arrow-down.png");
	background-size: 40px 20px;
	display: table;
	height: 20px;
	margin: -50px auto;
	width: 40px;
}
.signup_blue_box {
	background: url(../images/signup_blue_box.png) no-repeat;
	padding: 125px 0px 125px 64px;
	margin: 10% 0px 0px 0px;
	width: 60%;
	float: left;
	background-size: 100%;
}
.signup_blue_box h3 {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}
.signup_blue_box h1 {
	margin: 90px 0px 11px 0px;
	width: 386px;
	height: 65px;
	display: block;
	text-indent: -9999px;
	background: url(../images/logo-heading.png) left top no-repeat;
}
.signup_blue_box fieldset {
	padding-top: 13px;
	float: left;
	border: none;
}
.signup_blue_box input[type="text"], input[type="text"] {
	padding: 5px 10px;
	float: left;
	line-height: 34px;
	width: 175px;
	border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border: none;
	background: #e6e6e6;
}
.signup_blue_box input[type="submit"], input[type="submit"] {
	padding: 4px 14px;
	margin-left: -1px;
	line-height: 34px;
	border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border: none;
	font-family: 'AVENIRNEXTLTPRO-MEDIUMCN';
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	background: #f29691;
}
.signup_blue_box a.watchvideo {
	padding: 0px 61px 0px 18px;
	margin: 15px 0px 0px 11px;
	line-height: 44px;
	float: left;
	font-family: 'AVENIRNEXTLTPRO-MEDIUMCN';
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background: #00b1c9 url(../images/arrow.png) right center no-repeat;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.blueBg {
	height:50%;
	background-color: #00B0C7;
}
.blueBg ul {
	height:100%;
}
.blueBg ul li {
	float: left;
	width: 25%;
	height:100%;
	text-align: center;
}
.blueBg ul li img {
	width: auto;
	max-width:50%;
	height:auto;
}
.boxWrap p {
font-size: 1.5rem;
line-height: 1.5rem;
margin: 10px 0;
}
.blueBg ul li p {
	font-weight: bold;
}
.blueBg li:nth-child(4) {
	margin-right: 0;
}
.yourScore {
	height:50%;
	text-align: center;
	width: 100%;
	background-color: #fff;
}
.yourScore h1 {
	color: #F29691;
	font-size: 93px;
	font-weight: bolder;
	text-transform: uppercase;
	width: 65%;
	margin: 0 auto;
	position: relative;
}
.yourScore p {
	font-size: 25px;
	color: #000;
	width: 45%;
	margin: 0 auto;
	line-height: 25px;
	font-weight: normal;
}
.yourScore img {
width: auto;
height: 44%;
}
.yourScore p {
font-size: 30px;
margin: 6px auto;
line-height: 32px;
	width: 57%;
}
.yourScore .abs {
	margin: 10px auto;
	width: 309px;
}
.yourScoreContainer p.thankyou {
	color: #00B0C7;
	font-size: 20px;
	font-weight: normal;
	margin: 0 auto;
	width: 100%;
}


.sociableBox ul li a.facebook:hover {
	padding-top: 4px;
	display: block;
	text-indent: -9999px;
	width: 24px;
	height: 25px;
	background: url(../images/sociable-icon-hover.png) left 4px no-repeat;
}
.sociableBox ul li a.twitter:hover {
	padding-top: 4px;
	display: block;
	text-indent: -9999px;
	width: 24px;
	height: 25px;
	background: url(../images/sociable-icon-hover.png) right 4px no-repeat;
}





/*
.mobilemenu { position: absolute; top: 100px; left: -300px; background: #f00; width: 300px; height: 100%; }
*/

.mobile-navBox { position: fixed; left: -260px; top: 0px; height: 100%; z-index: 9999; display: none; }

.mobilemenu {  background: #ffffff; float: left; width: 260px; height: auto; border-bottom: 1px solid #b1b9cd; }
.mobilemenu ul { padding: 5px;}
.mobilemenu ul li { font-size: 25px; border-bottom: 1px solid #b1b9cd; }
.mobilemenu ul li:last-child { border-bottom: none; }
.mobilemenu ul li a { padding: 10px; display: block; color: #606e8e; }

.mobile-icon {margin-left: 10px; margin-top: 8px; width: 40px; height: 40px; display: block; text-indent: -9999px; cursor: pointer; float: right; background: url(../images/menu-icon.png) left top no-repeat; }

.videopopup{ position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, .8); float: left; display: none; z-index: 9999;  }
.videobox { width: 50%; margin: 8% auto 0 auto;  position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;  }
    
    .videobox iframe,
.videobox object,
.videobox embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
}

.close { position: absolute; top: 20px; right: 20px; height: 52px; width: 52px; display: block; text-indent: -9999px; cursor: pointer; background: url(../images/close.png) left top no-repeat;  }


/*----- About Us -----*/
.aboutBg {
	background: url(../images/aboutbg.png) no-repeat; background-size: cover; width: 100%; height: 100%; margin-top: 50px;margin-top: 78px; padding: 65px 0;}
.teamContainer { background-color: #fff; border-radius: 10px; padding: 20px 40px 20px 20px; width: 65%; }
.clickinText { font-size: 28px; color: #364566; font-weight: bold; margin-left: 30px; margin-bottom: 10px; } 
.teamPic { float: left; width: auto;  }
.teamPic {
    float: left;
    margin-right: 15px;
    width: 20%;
}
.teamName h3 { font-size: 24px; font-weight: bold; color: #364566; }
.teamName h5 {font-size: 18px;color: #4d4d4d; } 
.teamName p {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 20px;
}
.teamHiring { float: right; width: 70%; margin-top: 40px; }
.hiring { background: url("../images/hiringbg.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0); padding: 20px 7% 20px 20px; margin-bottom: 20px;}
.teamName {display: table;}

/*---- About Us ---*/





 @media screen and (min-width: 641px) and (max-width: 767px) {
.contentCntr {
	height: 470px;
	margin-top: 78px;
}
.mobileBox {
	background-size: 92%;
	 padding: 17px 23px 10px 41px;
	width: 142px;
	height: auto;
	margin: 8% 5% 5% 0;
}
.mobileBox figure {
	margin: 54px auto;
	max-width: 254px;
	height: auto;
}
.signupBox {
	width: 60%;
	background-size: 100%;
	padding: 0px 0px 7% 3%;
	margin: 15% 0px 0px 0px;
}
.signup_blue_box {
	padding: 8% 0 14% 3%;
	width: 60%;
	background-size: 100%;
	margin: 15% 0px 0px 0px;
}
.signupBox p, .signup_blue_box p {
	font-size: 24px;
	line-height: 24px;
}
.signupBox h1 {
	margin: 6% 0px 1% 0;
	width: 87%;
	line-height: 45px;
	background-size: 82%;
	height: 50px;
}
.signup_blue_box h1 {
	margin: 8% 0px 1% 0;
	width: 87%;
	height: auto;
}
.signupBox input[type="text"], .signup_blue_box input[type="text"] {
	width: 50%;
	line-height: 24px;
	width: 45%;
}
.signupBox input[type="submit"], .signup_blue_box input[type="submit"] {
	padding: 5px;
	line-height: 24px;
	font-size: 14px;
}
.signupBox fieldset, .signup_blue_box fieldset {
	padding-top: 1%;
}
.signupBox a.watchvideo {
	padding: 0px 36px 0px 12px;
	line-height: 34px;
	margin: 6px 0px 0px 0px;
	font-size: 17px;
}
header .logo a {
	background-size: 70%;
}
header .logo {
	width: 21%;
	top: 40px;
}
.thankyou {
	font-size: 17px;
}
.blueBg ul li p {
	font-size: 19px;
	line-height: 20px;
}
.blueBg ul li {
	margin: 0 15px;
}
.yourScore {
	padding: 100px 0;
}
.yourScore .abs {
	width: 232px;
}
.yourScore h1 {
	font-size: 57px;
}
.yourScore p {
	font-size: 20px;
	line-height: 23px;
	width: 68%;
	margin: 15px auto;
}
.yourScore img {
	width: 86%;
}
.yourScoreContainer input[type="submit"] {
	padding: 5px;
	line-height: 26px;
	font-size: 14px;
}
.yourScoreContainer input[type="text"] {
	padding: 5px;
	line-height: 26px;
	font-size: 14px;
	width: 160px;
}
#bouncy a {
	margin: -5px auto;
	height: 25px;
}
nav {
	width: 180px;
}
.sociableBox {
	padding: 15px 0px;
}
nav ul {
	padding: 15px 0px;
}
#abs {
	width: 40%;
}
.teamName p {
	color: #4d4d4d;
	font-size: 14px;
	font-weight: normal;
	line-height: 15px;
	margin-top: 5px;
}
.teamName h3 { font-size: 22px; }
.teamName h5 { font-size: 18px; }
.teamPic { width: 20%; }
.teamContainer { width: 85%; }
.teamHiring { width: 95%; }
}
 @media screen and (min-width: 320px) and (max-width: 640px) {

.mobile-navBox { display: block; }
footer ul { display: none;}
.contentCntr {
	height: 600px;
	margin-top: 49px;
}
.mobileBox {
	background-size: 100% auto;
	padding: 29px 13px 25px 12px;
	width: 84px;
	height: auto;
	margin: 35px auto 0;
	float: none;
}
.mobileBox figure {
	margin: 0 auto;
	max-width: 254px;
	height: auto;
}
.signupBox {
	width: 100%;
	background-size: 100%;
	padding: 4px 0;
	margin: 5px 0px 0px 0px;
	background-image: none;
	background-color: #1e283d;
	float: none;
	background-position: center;
	text-align: center;
	height: 146px;
	;
}
.signup_blue_box {
	width: 100%;
	background-size: 100%;
	padding: 15px 0;
	margin: 5px 0px 0px 0px;
	background-image: none;
	background-color: #05b2c8;
	float: none;
	background-position: center;
	text-align: center;
	height: 90px;
	
}

.signupBox p {
	font-size: 17px;
	line-height: 15px;
	width: 65%;
	margin: 5px auto;
}
.signup_blue_box h3 { 
	font-size: 23px;
	line-height: 22px;
}
.signupBox h1 {
	margin: 0 auto;
	width: 50%;
	line-height: auto;
	background-size: 60% auto;
	height: auto;
	font-size: 22px;
	background-position: center;
}
.signupContainer {
	display: table;
	margin: 0 auto;
}
.signup_blue_box h1 {
	margin: 8% 0px 1% 0;
	width: 87%;
	height: auto;
}
.signupBox input[type="text"], .signup_blue_box input[type="text"] {
	width: 50%;
	line-height: 20px;
	width: 148px;
}
.signupBox input[type="submit"], .signup_blue_box input[type="submit"] {
	padding: 5px;
	line-height: 20px;
	font-size: 14px;
}
.signupBox fieldset, .signup_blue_box fieldset {
	padding-top: 1%;
}
.signupBox a.watchvideo {
	padding: 0px 36px 0px 12px;
	line-height: 34px;
	margin: 6px 0px 0px 0px;
	font-size: 17px;
}
header .logo a {
	background-size: 70%;
}
header .logo {
	width: 21%;
	top: 40px;
	left: 59%;
}
.thankyou {
	font-size: 17px;
}
.blueBg ul li p {
	font-size: 19px;
	line-height: 20px;
}
.blueBg ul li {
	margin: 0 15px;
}
.yourScore {
	padding: 100px 0;
}
.yourScore .abs {
	width: 232px;
}
.yourScore h1 {
	font-size: 57px;
}
.yourScore p {
	font-size: 20px;
	line-height: 23px;
	width: 68%;
	margin: 15px auto;
}
.yourScore img {
	width: 86%;
}
.yourScoreContainer input[type="submit"] {
	padding: 5px;
	line-height: 26px;
	font-size: 14px;
}
.yourScoreContainer input[type="text"] {
	padding: 5px;
	line-height: 26px;
	font-size: 14px;
	width: 160px;
}
#bouncy {
	margin: 5px auto;
}
#bouncy a {
	margin: 0 auto;
	height: 20px;
}
nav {
	width: 180px;
}
.sociableBox {
	padding: 15px 0px;
}
nav ul {
	padding: 15px 0px;
}
#abs {
	width: 40%;
}
nav, .sociableBox {
	display: none;
}
header {
	min-height: 50px;
}
header .logo {
	left: 62%;
	top: 5px;
}
header .logo a {
	height: 80px;
	background-size: 60% auto;
}
#abs {
	width: 230px;
}
.blueBg ul li {
	width: 40%;
	margin-bottom: 30px;
}
.signupContainer1 {
display: table;
margin: 0 auto;
}
.thankyou { margin-top: 0; }
.align { text-align: center;width: 150px; margin: 0 auto; display: block; }
.aboutBg { margin-top: 48px; } 
.clickinText {text-align: center; margin-left: 0;}
.teamContainer { width: 85%; margin:0 auto;}
.teamName p {
	color: #4d4d4d;
	font-size: 13px;
	font-weight: normal;
	line-height: 15px;
	margin-top: 5px;
}
.teamName h3 { font-size: 20px; }
.teamName h5 { font-size: 16px; }
.teamHiring {width: 98%;}
.hiring {
	background-image: none;
	background-color: #e6e6e6;
	margin: 15px auto;
	width: 86%;
	border-radius: 10px;
} 
}



body {
	background: url("../images/background.png") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
background-size: cover;
}
.fixedMobile {
	position:fixed;
	top:84px;
	z-index:1003;
	width: 100%;
}
.contentCntr {
	position:relative;
	z-index:1004;
	background:none;
}

.widthWrap, .fixedContentWrapper, .fixedWrapper {
	max-width:1280px;
	margin:0 auto;
	height:100%;
	position:relative;
}

.mobileBox {
	height:90%;
	max-height: 650px;
	position: absolute;
	top: 5%;
	right: 0;
	background:none;
	z-index:1;
}
.phoneFrame {
	height:100%;
}
.phoneFrame img {
	width:auto;
	height:100%;
}

.mobileBox .screenImage {
	margin: 0;
	max-width: none;
	height:100%;
	width: auto;
	max-width: none;
	text-align: right;
	position: absolute;
	top: 0;
	right: 12%;
}
.screenImage img {
	height: 67.3%;
	width: auto;
	margin-top: 44%;
}

.content {
	overflow:hidden;
	display:block;
}
.content figure {
	display:inline-block;
}
.content figure img {
	height: 67.3%;
	width: auto;
	margin-top: 0%;
}
.content .phoneFrame img {
	opacity:0;
}
.boxWrap,.boxWrapWhite {
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.boxWrapWhite {
	padding: 20px 0;
}