@font-face {
    font-family: 'AvenirNextL TPro MediumCn';
    src: url('fonts/AVENIRNEXTLTPRO-MEDIUMCN.eot');
    src: url('fonts/AVENIRNEXTLTPRO-MEDIUMCN.eot?#iefix') format('embedded-opentype'),
         url('fonts/AVENIRNEXTLTPRO-MEDIUMCN.woff') format('woff'),
         url('fonts/AVENIRNEXTLTPRO-MEDIUMCN.ttf') format('truetype'),
         url('fonts/AVENIRNEXTLTPRO-MEDIUMCN.svg#AVENIRNEXTLTPRO-MEDIUMCN') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextL TPro MediumCn';
    src: url('fonts/AVENIRNEXTLTPRO-BOLDCN.eot');
    src: url('fonts/AVENIRNEXTLTPRO-BOLDCN.eot?#iefix') format('embedded-opentype'),
         url('fonts/AVENIRNEXTLTPRO-BOLDCN.woff') format('woff'),
         url('fonts/AVENIRNEXTLTPRO-BOLDCN.ttf') format('truetype'),
         url('fonts/AVENIRNEXTLTPRO-BOLDCN.svg#AVENIRNEXTLTPRO-MEDIUMCN') format('svg');
    font-weight: bold;
    font-style: normal;
}
